<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    
    <!-- MathJax support -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: {
          equationNumbers: {
          autoNumber: "AMS"
        }
      },
      tex2jax: {
        inlineMath: [ ['$', '$'] ],
        displayMath: [ ['\[', '\]'] ],
        processEscapes: true,
      }
    });
    </script>
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <center>
          <h1><a href="{{ "/" | absolute_url }}" style="color:black">{{ site.title | default: site.github.repository_name }}</a></h1>

          {% if site.logo %}
            <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
          {% endif %}

          <p><i>(he/him)</i> &#183; Ph.D Student at Arizona State University in Geography</p>
        
          <p>
            <a href="https://twitter.com/tyler_hoff1"><img src="/assets/img/twitter.png" alt="Twitter" width=32px height=32px/></a>
            <a href="https://www.linkedin.com/in/tdhoffman"><img src="/assets/img/linkedin.png" alt="LinkedIn" width=32px height=32px/></a>
            <a href="{{ site.github.owner_url }}"><img src="/assets/img/github.png" alt="Github" width=32px height=32px/></a>
            <a href="https://scholar.google.com/citations?hl=en&user=2LWJlLMAAAAJ"><img src="/assets/img/scholar.png" alt="Google Scholar" width=32px height=32px/></a>
            <a href="https://orcid.org/0000-0002-0012-3794"><img src="/assets/img/orcid.png" alt="ORCiD" width=32px height=32px/></a>
            <a href="mailto:td@tdhoffman.com"><img src="/assets/img/mail.png" alt="td@tdhoffman.com" width=32px height=32px/></a>
          </p>
        </center>
        
        <p class="view"><a href="https://www.tdhoffman.com/research">Research</a></p>
        
        <p class="view"><a href="../assets/pdf/Tyler_Hoffman_Resume.pdf">Resume</a></p>
        
        <p class="view"><a href="https://www.tdhoffman.com/notes/home">Research Notes</a></p>
        
        <p class="view"><a href="https://peterkedron.com/">Kedron Lab @ ASU</a></p>
        
        <p class="view"><a href="https://sgsup.asu.edu/SPARC">SPARC @ ASU</a></p>
        
        <p class="view"><a href="https://geosmash.net">GEOSMASH @ UMD</a></p>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
