<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p><i>(he/him)</i> &#183; {{ site.description | default: site.github.project_tagline }}</p>
        
        <p>
          <a href="https://twitter.com/tyler_hoff1"><img src="/assets/img/twitter.png" alt="Twitter" width=32px height=32px/></a>
          <a href="{{ site.github.owner_url }}"><img src="/assets/img/github.png" alt="Github" width=32px height=32px/></a>
        </p>
        
        <p class="view">Email me: <a href="mailto:tdhoffman@asu.edu">tdhoffman@asu.edu</a></p>
        
        <p class="view"><a href="https://www.tdhoffman.com/research">Research</a></p>
        
        <p class="view"><a href="../assets/pdf/tdhoffman_cv.pdf">CV</a></p>
        
        <p class="view"><a href="https://scholar.google.com/citations?hl=en&user=2LWJlLMAAAAJ">Google Scholar</a></p>

        <p class="view"><a href="https://orcid.org/0000-0002-0012-3794">ORCiD</a></p>
        
        <p class="view"><a href="https://www.tdhoffman.com/gsoc2022">GSoC 2022 Progress Journal</a></p>
        
        <p class="view"><a href="https://peterkedron.com/">Kedron Lab @ ASU</a></p>
        
        <p class="view"><a href="https://sgsup.asu.edu/SPARC">SPARC @ ASU</a></p>
        
        <p class="view"><a href="https://geosmash.net">GEOSMASH @ UMD</a></p>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
